#textdomain wesnoth-voadar
[scenario]
    
    id=3_Valor
    name= _ "Valor"
    next_scenario=null
    map_data="{~add-ons/Voyage_of_a_Drake/maps/valor.map}"
    turns=-1
    victory_when_enemies_defeated=no
    
    # Set the music TODO
    {INTRO_AND_SCENARIO_MUSIC suspense.ogg wanderer.ogg}
    {EXTRA_SCENARIO_MUSIC breaking_the_chains.ogg}
    {EXTRA_SCENARIO_MUSIC elvish-theme.ogg}
    {EXTRA_SCENARIO_MUSIC heroes_rite.ogg}
    {EXTRA_SCENARIO_MUSIC knalgan_theme.ogg}
    {EXTRA_SCENARIO_MUSIC knolls.ogg}
    {EXTRA_SCENARIO_MUSIC legends_of_the_north.ogg}
    {EXTRA_SCENARIO_MUSIC loyalists.ogg}
    {EXTRA_SCENARIO_MUSIC nunc_dimittis.ogg}
    {EXTRA_SCENARIO_MUSIC silvan_sanctuary.ogg}
    {EXTRA_SCENARIO_MUSIC suspense.ogg}
    {EXTRA_SCENARIO_MUSIC battle.ogg}
    {EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}
    {EXTRA_SCENARIO_MUSIC the_king_is_dead.ogg}
    {EXTRA_SCENARIO_MUSIC traveling_minstrels.ogg}
    {EXTRA_SCENARIO_MUSIC weight_of_revenge.ogg}

    # The story
    [story]
        [part]
            story= _ "TODO"
            background="story/landscape-hills-01.jpg"
        [/part]
    [/story]

    # Set the objectives
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Avenge Cadameron"
                condition=win
            [/objective]
            [objective]
                description=_"Death of Voadar"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
    
    # TODO finalize dawn vs dusk and fix the turn sound effect
    #{DAWN_HOUR}
    {DUSK_HOUR}
	[event]
		name=prestart
		[time_area]
			x=34-51
			{INDOORS}
		[/time_area]
	[/event]

    # The player's side
    [side]
        {VOADAR_SIDE_BASICS}
        side=1
        controller=human
        gold=0
        fog=yes
        shroud=yes
        team_name=raplice
        color=orange
        {FLAG_VARIANT loyalist}
    [/side]
	
    # Enemy's side
    [side]
        {VOADAR_SIDE_BASICS}
        side=2
        team_name=foes
        color=teal
        shroud=no
        gold=500
        [ai]
            aggression=1
            caution=.35
            [goal]
                [criteria]
                    side=1
                [/criteria]
                value=.9
            [/goal]
        [/ai]
        {FLAG_VARIANT loyalist}
    [/side]

    # Make sure units are healable & full hp
	# TODO this is bugged for [unstore_unit]?
	[event]
		name=unit placed
		id=units_are_healable
		first_time_only=no
        [modify_unit]
            [filter]
                x,y=$x1|,$y1
            [/filter]
            [status]
                unhealable=no
				poisoned=no
				slowed=no
            [/status]
			hitpoints=$unit.max_hitpoints|
            # also, there is no such thing as upkeep:
            upkeep=loyal
        [/modify_unit]
	[/event]
    
    # Beginning shroud placement
	[event]
		name=prestart
		[place_shroud]
			side=1
			x=0-33
		[/place_shroud]
	[/event]
	
	# unpack a couple of the persist variables:
	[event]
		name=prestart
		{CLEAR_VARIABLE Voadar}
		{VARIABLE Voadar.has_potion $persist.Voadar.has_potion|}
		{VARIABLE Voadar.ranged_attack_unlocked $persist.Voadar.ranged_attack_unlocked|}
	[/event]
	
	# place units
	[event]
		name=prestart
		{VARIABLE persist.Voadar.unit.facing sw}
		[unstore_unit]
			variable=persist.Voadar.unit
			x,y=45,3
		[/unstore_unit]
#define VOADAR_SCENARIO_UNIT TYPE ID NAME X Y FACING TRAIT_ONE TRAIT_TWO WML
    [unit]
        id={ID}
        name={NAME}
        x,y={X},{Y}
        type={TYPE}
        side=2
        facing={FACING}
        [modifications]
            {TRAIT_{TRAIT_ONE}}
            {TRAIT_{TRAIT_TWO}}
        [/modifications]
        {WML}
    [/unit]
#enddef
        {VOADAR_SCENARIO_UNIT "NE Business Dwarf" "Nhardril" (_"Nhardril") 46 3 sw INTELLIGENT HEALTHY ()}
        {VOADAR_SCENARIO_UNIT "NE Voadar Elvish Druid" "Maple" (_"Maple") 47 4 sw QUICK DEXTROUS ()}
        {VOADAR_SCENARIO_UNIT "NE Voadar Dwarvish Runesmith" "Anatus" (_"Anatus") 41 7 se STRONG HEALTHY ()}
        {VOADAR_SCENARIO_UNIT "NE Voadar Dwarvish Steelclad" "Anatil" (_"Anatil") 42 6 se RESILIENT INTELLIGENT ()}
        {VOADAR_SCENARIO_UNIT "NE Village Elder" "Ivan" (_"Ivan") 37 6 se AGED RESILIENT ()}
        {VOADAR_SCENARIO_UNIT "NE Village Preacher" "Father_aristo" (_"Father Aristo") 40 3 se INTELLIGENT WEAK ()}
        {VOADAR_SCENARIO_UNIT "NE Dog" "Fifo" (_"Fifo") 39 4 se STRONG INTELLIGENT ()}
        {VOADAR_SCENARIO_UNIT "NE Aristocrat" "Mrs_aristo" (_"Mrs. Aristo") 38 4 se INTELLIGENT WEAK (gender=female)}
        {VOADAR_SCENARIO_UNIT "NE Young Aristocrat" "Robert" (_"Robert") 38 5 se INTELLIGENT STRONG ()}
        {VOADAR_SCENARIO_UNIT "NE Village Tramp" "Klippy" (_"Klippy") 40 7 se QUICK INTELLIGENT (gender=female)}
        {VOADAR_SCENARIO_UNIT "NE Carpenter" "Frank" (_"Frank") 39 6 se INTELLIGENT STRONG ()}
        {VOADAR_SCENARIO_UNIT "NE Village Introvert" "Juditha" (_"Juditha") 40 6 se RESILIENT STRONG (gender=female)}
        {VOADAR_SCENARIO_UNIT "NE Young Fisher" "Rachael" (_"Rachael") 40 5 se INTELLIGENT QUICK (gender=female)}
        {VOADAR_SCENARIO_UNIT "NE Postmaster" "Curryan" (_"Curryan") 42 4 se QUICK LOYAL (gender=female)}
        {VOADAR_SCENARIO_UNIT "NE Groom" "Hob" (_"Hob") 41 5 se DIM WEAK ()}
        {VOADAR_SCENARIO_UNIT "NE Cobbler" "Leonna" (_"Leonna") 40 4 se QUICK DEXTROUS ()}
        {VOADAR_SCENARIO_UNIT "NE Seasoned Farmer" "Vyncent" (_"Vyncent") 42 3 se STRONG QUICK ()}
        {VOADAR_SCENARIO_UNIT "NE Voadar Elvish Champion" "Commodir" (_"Commodir") 44 5 se STRONG QUICK ()}
        {VOADAR_SCENARIO_UNIT "NE Voadar Elvish Sharpshooter" "Tetaitiel" (_"Tetaitiel") 44 6 se DEXTROUS INTELLIGENT (gender=female)}
        {VOADAR_SCENARIO_UNIT "NE Voadar Orcish Crossbowman" "Grigar" (_"Grigar") 38 6 se RESILIENT QUICK ()}
		
        {VOADAR_SCENARIO_UNIT "NE Voadar Pikeman" "Harold" (_"Harold") 43 2 se RESILIENT QUICK ()}
        {VOADAR_SCENARIO_UNIT "NE Voadar General" "George" (_"George") 43 3 se STRONG LOYAL ()}
        {VOADAR_SCENARIO_UNIT "NE Voadar Longbowman" "Gwain" (_"Gwain") 42 2 se STRONG DEXTROUS()}
		
        {VOADAR_SCENARIO_UNIT "NE Elvish Tourist" "Nickieldur" (_"Nickieldur") 45 5 se DEXTROUS QUICK ()}
        {VOADAR_SCENARIO_UNIT "NE Human Tourist" "Derek" (_"Derek") 46 5 se STRONG RESILIENT ()}
        {VOADAR_SCENARIO_UNIT "NE Dunefolk Tourist" "Rayyan" (_"Rayyan") 44 4 se QUICK STRONG ()}
	[/event]
    
    ###############################################
    # Begin the Action!
    ###############################################
    
    # Opening dialog
    [event]
        name=start
        id=start_instructions
        
        [scroll_to_unit]
            id=Voadar
        [/scroll_to_unit]
    [/event]
    
    # of course you lose if Voadar dies 
    [event]
        name=die
        id=die_lose_game
        [filter]
            id=Voadar
        [/filter]
		#TODO defeat dialog?
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    
    ###############################################
    # End of the Action
    ###############################################
    
    # Place images, decorations, and labels
    [event]
        name=prestart
        id=tutorial_place_images
        
        {PLACE_IMAGE "scenery/leanto.png" 15 10}
        {PLACE_IMAGE "items/enhantress-statue-e-normal.png" 12 11}
    [/event]
	
[/scenario]
