#textdomain wesnoth-voadar
[unit_type]
	# This is a generic unit Voadar is likely to face in the gladiating arena
	# The events here control the battle. Standard unit data is below
	
	# This is called right after this unit is created
	# it sets up the battle
	[event]
		name=init_battle
		id=gryphon_gladiator_match
		first_time_only=no
		[filter_condition]
			[have_unit]
				type=Gryphon Gladiator
			[/have_unit]
		[/filter_condition]
		[message]
			type=Gryphon Gladiator
			message=_"Ha haaa! I control the skies! You can't even attack me!"
		[/message]
		[modify_unit]
			[filter]
				id=Voadar
			[/filter]
			moves=8
		[/modify_unit]
		
		# this guy would be easy, but he's fast enough that he gets the first strike 
		# no matter what you do. the out-come of the battle is basically determined by
		# how much he hits you in that first attack.
		
		[event]
			name=last breath
			id=gladiator_voadar_wins
			[filter]
				type=Gryphon Gladiator
			[/filter]
			[message]
				type=Gryphon Gladiator
				message=_"No!!! You fly so well! My days as a top tier gladiator may be over..."
			[/message]
			[kill]
				type=Gryphon Gladiator
				animate=yes
			[/kill]
			[fire_event]
				name=gladiator_win
			[/fire_event]
			[fire_event]
				name=gladiator_clean_up
			[/fire_event]
		[/event]
		
		[event]
			name=last breath
			id=gladiator_voadar_dies
			[filter]
				id=Voadar
			[/filter]
			[message]
				type=Gryphon Gladiator
				message=_"Ha! Even winged opponents can't defeat me!"
			[/message]
			[fire_event]
				name=gladiator_loss
			[/fire_event]
			[fire_event]
				name=gladiator_clean_up
			[/fire_event]
		[/event]
		
		[event]
			name=gladiator_clean_up
			{VOADAR_REMOVE_EVENT gladiator_voadar_dies}
			{VOADAR_REMOVE_EVENT gladiator_voadar_wins}
			[kill]
				type=Gryphon Gladiator
				animate=no
			[/kill]
		[/event]
	[/event]	
	
	########################################
	# Standard unit data begins here
	########################################
    id=Gryphon Gladiator
    name=_"Gryphon Gladiator"
	level=2
	hitpoints=57
	[base_unit]
		id=Gryphon Master
	[/base_unit]
	advances_to=null
	[attack]
		damage=18
		number=3
	[/attack]
    {AMLA_DEFAULT}
[/unit_type]
