#textdomain wesnoth-voadar
[unit_type]
	# This is a generic unit Voadar is likely to face in the gladiating arena
	# The events here control the battle. Standard unit data is below
	
	
	# This is called right after this unit is created
	# it sets up the battle
	[event]
		name=init_battle
		id=wose_gladiator_match
		first_time_only=no
		[filter_condition]
			[have_unit]
				type=Gladiator Wose
			[/have_unit]
		[/filter_condition]
		[message]
			type=Gladiator Wose
			message=_". . ."
		[/message]
		{MOVE_UNIT (type=Gladiator Wose) 81 28}
		
		[event]
			name=side 3 turn refresh
			id=wose_heads_for_forest
			[modify_unit]
				[filter]
					type=Gladiator Wose
				[/filter]
				moves=0
				max_moves=0
			[/modify_unit]
			{MOVE_UNIT (type=Gladiator Wose) 80 29}
			{TELEPORT_UNIT (type=Gladiator Wose) 79 31}
			# there he stays, invisible, until you find him...
			[event]
				name=enter_hex
				id=find_wose
				[filter]
					id=Voadar
					[filter_adjacent]
						type=Gladiator Wose
					[/filter_adjacent]
				[/filter]
				# ...when he gets a quick strike in. then he gets his movement back, 
				# 	and the normal ai takes over
				[harm_unit]
					[filter]
						id=Voadar
					[/filter]
					[filter_second]
						type=Gladiator Wose
					[/filter_second]
					amount=7
					damage_type=impact
					slowed=yes
					kill=yes
					fire_event=yes
					animate=yes
					[primary_attack]
						name=ensnare
					[/primary_attack]
					experience=yes
				[/harm_unit]
				[modify_unit]
					[filter]
						type=Gladiator Wose
					[/filter]
					max_moves=5
				[/modify_unit]
			[/event]
		[/event]
		
		[event]
			name=last breath
			id=gladiator_voadar_wins
			[filter]
				type=Gladiator Wose
			[/filter]
			[message]
				type=Gladiator Wose
				message=_"MOOOAAAAAAN!!!"
			[/message]
			[kill]
				type=Gladiator Wose
				animate=yes
			[/kill]
			[fire_event]
				name=gladiator_win
			[/fire_event]
			[fire_event]
				name=gladiator_clean_up
			[/fire_event]
		[/event]
		
		[event]
			name=last breath
			id=gladiator_voadar_dies
			[filter]
				id=Voadar
			[/filter]
			[fire_event]
				name=gladiator_loss
			[/fire_event]
			[fire_event]
				name=gladiator_clean_up
			[/fire_event]
		[/event]
		
		[event]
			name=gladiator_clean_up
			{VOADAR_REMOVE_EVENT gladiator_voadar_dies}
			{VOADAR_REMOVE_EVENT gladiator_voadar_wins}
			{VOADAR_REMOVE_EVENT wose_heads_for_forest}
			[kill]
				type=Gladiator Wose
				animate=no
			[/kill]
		[/event]
	[/event]
	
	########################################
	# Standard unit data begins here
	########################################
	# I normally use a [base_unit] but that offers no way to remove {ABLILITY_REGENERATES}
    id=Gladiator Wose
	name=_"Gladiator Wose"
    race=wose
    image="units/woses/wose-elder.png"
    small_profile="portraits/woses/wose.png~CROP(0,35,435,435)"
    profile="portraits/woses/wose.png"
    hitpoints=80
    movement_type=treefolk
    movement=5
    experience=100
	level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=31
    description= _ "Woses have been said to possess many shapes, all of them tree-like in form, and as they age, to increase in size. Tales tell of woses who resemble trees in this respect as well, towering over the creatures who walk beneath them. This is the greater part of why they are so rarely seen — standing in the slumber which they so often do, a wose of that stature appears to be nothing more than an oddly-shaped tree. Even a careless elf can sometimes be fooled.

Woses are not warriors by any means, but their great strength can easily be turned to violence, should someone manage to raise the ire of these creatures."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_AMBUSH}
    usage=fighter
    die_sound=wose-die.ogg
    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
    [death]
        start_time=0
        [frame]
            image="units/woses/wose-elder-die-fall-[1~15].png:100"
        [/frame]
    [/death]
    [attack]
        name=crush
        description=_"crush"
        icon=attacks/crush-wose.png
        type=impact
        range=melee
        damage=18
        number=3
    [/attack]
    [attack]
        name=ensnare
        description=_"ensnare"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=7
        number=2
        range=ranged
        icon=attacks/entangle.png
    [/attack]
    {DEFENSE_ANIM "units/woses/wose-elder-defend.png" "units/woses/wose-elder.png" wose-hit.ogg }
    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        start_time=-500
        {SOUND:HIT_AND_MISS wose-attack.ogg wose-miss.ogg -500}
        [frame]
            image="units/woses/wose-elder-attack-[1,2,1].png:[400,200,100]"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=ensnare
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            offset=1.0
            duration=200
            image="projectiles/entangle.png"
            image_diagonal="projectiles/entangle.png"
        [/missile_frame]
        start_time=-300
        [frame]
            image="units/woses/wose-elder-die-fall-[1~6,6~1].png:50"
            halo="halo/elven/nature-halo[1~8].png"
            halo_x,halo_y=0,-12
        [/frame]
        attack_sound_start_time=-75
        [attack_sound_frame]
            sound=entangle.wav
        [/attack_sound_frame]
    [/attack_anim]
[/unit_type]
