#textdomain wesnoth-voadar
[unit_type]

    id=NE Voadar General
    description= _ ""+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
	movement=7
	advances_to=null
    experience=150
	level=2
	{AMLA_DEFAULT}
	profile="portraits/george.png"
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/george.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/george.png"
    [/portrait]
	[attack]
		damage=9
		number=4
	[/attack]
	[attack]
		damage=8
		number=3
	[/attack]
	[base_unit]
		id=General
	[/base_unit]
[/unit_type]
