#textdomain wesnoth-voadar
[unit_type]

    id=Royal Swordsman
    name=_"Royal Swordsman"
    description= _ ""
	movement=6
	level=1
	advances_to=null
    experience=150
	{AMLA_DEFAULT}
	[attack]
		damage=9
		number=4
	[/attack]
	[base_unit]
		id=Swordsman
	[/base_unit]
[/unit_type]
